<!DOCTYPE html>
<html>
<head>
  <title>Form object</title>
  <%= stylesheet_link_tag    "form_object/application", media: "all" %>
  <%= javascript_include_tag "form_object/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
